@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  max-width: 400px;
  gap: 2rem;
  font-family: "Archivo", sans-serif;
}
.subheading {
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 22px;
}
button {
  font-size: 23px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.07em;
  text-align: center;
  color: white;
  background: black;
  width: 386px;
  height: 61px;
  top: 467px;
  left: 14px;
}
p {
  font-weight: 400;
  font-size: 18px;
  color: #656565;
  line-height: 27px;
  letter-spacing: 0em;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.buy {
  height: 122px;
}

.main {
  width: 386px;
}
