.photography {
  width: 100%;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 386px;
}
.card-component {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.compn {
  width: 386px;
  align-items: center;
  margin: auto;
}
